{% load i18n %}
{% load unicorn %}
<div>
  <div class="card">
    <div class="card-header">
      {% trans 'ListFilterTitle' %}
      <button class="btn btn-sm btn-outline-dark float-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="collapse" id="collapseFilter">
      <div class="card-body">
        <div>
            <!-- First Name Filter -->
            <div class="row border rounded mt-1">
              <div class="col col-lg-2 mb-2 mt-4">
                <input unicorn:model="filter_first_name_en" class="form-check-input" type="checkbox" value="" id="firstNameCheckInput" />
                <label class="form-check-label" for="firstNameCheckInput">{% trans 'firstNameFilter' %}</label>
              </div>
              <div class="col col-lg-2 mb-2">
                <label for="firstNameOperatorInput" class="form-label">{% trans 'filterTypLabel' %}</label>
                <select unicorn:model="filter_opt_first_name" class="form-select" id="firstNameOperatorInput">
                  {% for option in operator_options %}
                    <option value="{{ option }}">
                      {% trans option %}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col col-lg-8 mb-2">
                <label for="firstNameValueInput" class="form-label">{% trans 'filterValueLabel' %}</label>
                <input unicorn:model="filter_first_name" type="input" class="form-control" id="firstNameValueInput" />
              </div>
            </div>
            <!-- Last Name Filter -->
            <div class="row border rounded mt-1">
              <div class="col col-lg-2 mb-2 mt-4">
                <input unicorn:model="filter_last_name_en" class="form-check-input" type="checkbox" value="" id="lastNameCheckInput" />
                <label class="form-check-label" for="lastNameCheckInput">{% trans 'LastNameFilter' %}</label>
              </div>
              <div class="col col-lg-2 mb-2">
                <label for="lastNameOperatorInput" class="form-label">{% trans 'filterTypLabel' %}</label>
                <select unicorn:model="filter_opt_last_name" class="form-select" id="lastNameOperatorInput">
                  {% for option in operator_options %}
                    <option value="{{ option }}">
                      {% trans option %}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col col-lg-8 mb-2">
                <label for="lastNameValueInput" class="form-label">{% trans 'filterValueLabel' %}</label>
                <input unicorn:model="filter_last_name" type="input" class="form-control" id="lastNameValueInput" />
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">
      {% trans 'ListJudgesTitle' %}
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th scope="col">
            {% trans 'ListTableNameTitle' %}
          </th>
          <th scope="col">
            {% trans 'ListTableRegionTitle' %}
          </th>
          <th scope="col">
            {% trans 'ListTableActionTitle' %}
          </th>
        </tr>
        {% for usr in user_filtered %}
          <tr>
            <td>{{ usr.get_full_name }}</td>
            <td>{{ usr.judge.region.tag }}</td>
            <td>
                <a href="{% url 'judge.details' usr.pk %}"
                class="btn btn-sm btn-outline-success float-end"><i class="fa fa-address-card"></i> Details</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
